@font-face{
	font-family: OpenSans;
	src: "../font/OpenSans-Regular.ttf";
}

body{
	font-family: OpenSans;
}

.contain{
	position:relative;
	margin: auto;
	width: 90%;
	
}

.form_signin{
	background-color:white;
	border-radius: 6px;
	padding-top: 25px;
	margin-top: 40%;
}

.btn{
	border-radius: 0 !important;
	background-color: orange !important;
	border: 0 !important;
}

.form_input{
	width: 80%;
	border-radius: 1px;
	height: 30px !important;
	font-size: 1px;
	line-height: 1.5em !important;
}

.form_input:focus{
	border: 0 !important;

}

.img-underground{
	width:90%;
	height:30px;
}

.spacing{
	margin-top:10px;
}


@media (min-width: 400px) {
  .form_signin {
    margin-top: 25px;
  }
}

