/* INICIAR SESION CSS */

@font-face{
	font-family: OpenSans;
	src: "../font/OpenSans-Regular.ttf";
}

#indice{
	background-color: rgba(0,0,0,0.07);
}

#slide-menu{
	position:fixed;
    height:100%;
    width:0px;
    left:0px;
    overflow:hidden;
}

.contain{
	margin: auto;
	width: 90% !important;
}

.form_signin{
	background-color:white;
	border-radius: 6px;
	padding-top: 20px;
	padding-bottom: 15px;
	margin-top: 40%;
}

.btn{
	width: 87% !important;
	border-radius: 0 !important;
	background-color: darkorange !important;
	border: 0 !important;
	color: white !important;
	height: 35px;
	line-height: 2.2em !important;
}

.form_input{
	width: 100% !important;
	border-radius: 1px !important;
	height: 30px !important;
	font-size: 12px !important;
	line-height: 1.5em !important;
}

.form_input:focus{
	border: 0 !important;

}

.img-underground{
	width:90%;
	height:30px;
}

.spacing{
	margin-top:10px;
	width: 80% !important;
}


@media (min-width: 400px) {
  .form_signin {
    margin-top: 25px;
  }
}
@media (min-width: 700px) {
  .form_signin {
    margin-top: 100px;
  }
}

@media (min-height: : 900px) {
  .form_signin {
    margin-top: 300px;
  }
}
/* HOME CSS */

.ceroPadding{
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	list-style: none!important;
}

.byeMargin{
	margin-top: 0px !important;
	margin-bottom: 0px!important;
}

.byeMarginTop{
	margin-top: 0px !important;
}

.hiOrange{
	color: orange!important;
}

.hiGray{
	color: #808080 !important;
}

.btnListView{
	width: 27px !important !important;
	height: 30px !important;
    padding: 0px !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;	
}

.btnCart{
	padding: 0px !important;
	border: 0px !important;	
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	width: 35px !important;
    height: 35px !important;
}

.headerList{
	padding-top:5px !important; 
    padding-bottom: 5px !important;
    height: 20px !important;
    font-size: 1.1em !important;
}

.notification{
	height: 20px !important;
	padding: 1px !important;	
	width: 20px !important;
	background-color: orange !important;
}

.primerElement{
	height: 35px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    list-style: none !important;
}

.imgListView{
	width: 20px !important;
    height: 20px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.imgUnder{
	padding-bottom: 0px !important;
    padding-top: 5px !important;
    margin-left: 5px !important;
}

.imgCart{
	padding-bottom: 0px !important;              
    width: 34px !important;
    height: 35px !important;
}

.listBest{
	padding-top: 5px !important;
    padding-bottom: 5px !important;
    list-style: none !important;
}

@media (max-width: 630px){
	table img{
		width: 80px;
		height: 80px;
	}
	table p{
		font-size: 10px;
	}
	table td h3{
		font-size: 13px;
	}
	table td h2{
		font-size: 12px;
	}
}