@font-face{
	font-family: OpenSans;
	src: "../font/OpenSans-Regular.ttf";
}

body{
	font-family: OpenSans;
}
.contain{
	position:relative;
	margin: auto;
	width: 90%;
	
}

.form_signin{
	background-color:white;
	border-radius: 6px;
	padding-top: 25px;
	margin-top: 25%;

}

form .form_input{
	margin: auto;
	width: 90%;
	border-radius: 1px;
}

.img-underground{
	width:90%;
	height:40px;
}

.spacing{
	margin-top:10px;
}

